body{
    text-align: center;
}
nav img {
    width: 140px;
    height: 40px;
    border: 2px grey outset;
}

#jornal {
    padding: 20px;
    border-width: 2px;
    border-style: double;
    border-color: linear-gradient(#1414ad 0%, #df0b0b 100%);
}

.trabalhos{
    padding: 10px;
    border-width: 2px;
    border-style: dashed;
    box-shadow: 5px 5px 5px gray;
}

#reloader{
    float: right;
    margin-top: 20px;
    background-color: black;
    color: grey;
    border: 2px grey outset;
}